.someClass {

}

.error {
    border: 3px solid red;
    background-color: yellow;
}

.messageError{
    color: red;
    font-size: 14px;
    font-weight: bold;

}

.messageUsers{
    color: blue;
    font-size: 16px;
    font-weight: bold;
}